Repository DataDog/stratus-red-team, pull requests merged in 2022-08, with the labels that each got.

#154 Create an admin service account
  docs/attack-techniques/GCP/gcp.persistence.create-admin-service-account.md
  docs/attack-techniques/GCP/index.md
  docs/attack-techniques/list.md
  v2/internal/attacktechniques/gcp/persistence/create-admin-service-account/main.go
  v2/internal/attacktechniques/gcp/persistence/create-admin-service-account/main.tf
  v2/internal/attacktechniques/main.go
  v2/internal/providers/gcp.go
  v2/internal/utils/functions.go
Labels: kind/new-technique, platform/gcp

#160 Initial GCP support
  docs/attack-techniques/GCP/gcp.persistence.create-admin-service-account.md
  docs/attack-techniques/GCP/gcp.persistence.create-service-account-key.md
  docs/attack-techniques/GCP/gcp.privilege-escalation.impersonate-service-accounts.md
  docs/attack-techniques/GCP/index.md
  docs/attack-techniques/list.md
  docs/attack-techniques/supported-platforms.md
  docs/user-guide/getting-started.md
  v2/go.mod
  v2/internal/attacktechniques/gcp/persistence/create-admin-service-account/main.go
  v2/internal/attacktechniques/gcp/persistence/create-admin-service-account/main.tf
  v2/internal/attacktechniques/gcp/persistence/create-service-account-key/main.go
  v2/internal/attacktechniques/gcp/persistence/create-service-account-key/main.tf
  v2/internal/attacktechniques/gcp/privilege-escalation/impersonate-service-accounts/main.go
  v2/internal/attacktechniques/gcp/privilege-escalation/impersonate-service-accounts/main.tf
  v2/internal/attacktechniques/main.go
  v2/internal/providers/gcp.go
  v2/internal/utils/functions.go
  v2/pkg/stratus/platform.go
  v2/pkg/stratus/providers.go
  v2/pkg/stratus/registry_test.go
  v2/pkg/stratus/runner/runner.go
  v2/tools/generate-techniques-documentation.go
Labels: kind/new-platform

#164 Add new attack technique for Kubernetes persistence
  docs/attack-techniques/kubernetes/index.md
  docs/attack-techniques/kubernetes/k8s.persistence.create-client-certificate.md
  docs/attack-techniques/list.md
  v2/internal/attacktechniques/k8s/persistence/create-client-certificate/main.go
  v2/internal/attacktechniques/main.go
Labels: kind/new-technique, platform/k8s
